*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  html,body
  {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
    
   /* --- Utility Classes ---  */
  .btn{
     background-color: rgb(231, 138, 108);
     padding: 1rem 0;
     color:white;
     border-radius: 1rem;
     border:none;
     font-size: 1.2rem;
     cursor:pointer;
  }
  .btn:hover{
      background: rgb(223, 100, 59);
  }
  
  input{
      display: block;
      padding:4px;
      height: 1.7rem;
  }
  label{
      color:whitesmoke;
  
  }
  
  span{
      color: coral;
     
  }
  
  .p-1{padding:1rem;}
  .p-2{padding:2rem;}
  .p-3{padding:3rem;}
  
  .py-1{padding:1rem 0;}
  .py-2{padding:2rem 0;}
  .py-3{padding:4rem 0;}
  
  p{
      text-align: justify;
      line-height: 1.7rem;
      font-size: 1rem;
      color: whitesmoke;
      /* padding: 1rem; */
  }
  
  /* For styling scrollbars  */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(4, 171, 226); 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 137, 182); 
  }
  /* --- Navigation Bar ---  */
  .container{
    max-width: 1500px;
    width: 100%;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    right:0;
    left:0;
    margin:0 auto;
    z-index: 2;
}

.container::before {
    content: '';
    position: fixed;
    left:0;
    top:0;
    width:100vw;
    background-color: #333;
    height: 54px;
    z-index: 2;
}

.cart{
    color:white;
    transition: all 0.5s ease-in;
}
/* Cart Dropdown  */
.cart-wrapper{
    position:relative;
}
.cart-desc{
    position:absolute;
    top:56px;
    right: 0%;
    width: 200px;
    background: #fff;
    border: 1px solid #050748;
    color:black;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    padding:1rem;
    transition: all 0.4s ease-in;
}
.none{
    display: none;
}
.cart-desc h2{
    font-size: 1rem;
    flex: 1;
    margin-bottom:15px;
}
.cart-desc #see-cart, .cart-desc #shopping{
    flex:1;
    padding:0 ;
    margin-bottom:15px;
}
.cart-desc #see-cart{
    padding:10px 20px;
    margin:1rem;
    text-align: center;
    color:white;
    background-color: coral;
    border: 1px solid white;
    border-radius: 10px;
    font-size:0.8rem;
    transition : all 0.4s ease-in-out;
}
.cart-desc #see-cart:hover{
    color:coral;
    background-color: white;
    border: 1px solid coral;
}
.cart-desc #shopping{
    font-size:0.8rem;
    color:coral;
    text-decoration: underline;
}

.container .logo{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color:white;
}

.container .navbar ul{
    list-style-type: none;
    display: flex;
}
.container .navbar ul li{
    position: relative;
    z-index: 2;
}

.container .navbar ul li a{
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    color: white;
}
  
  /* Register and login Form  */
.sign{
    background-color: coral;
}
.sign-ham{
    background-color: coral;
}

  /* Sign Up  */
  #sign-up{
    background:url(../images/david-pisnoy-46juD4zY1XA-unsplash.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100vw; 
}
#sign-up .forbg{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
#sign-up .forbg .message{
    position:relative;
    width:730px;
    /* overflow: auto; */
    /* background-color: blueviolet; */
}
#sign-up .forbg .message h2{
    position: absolute;
    width: 100%;
    font-weight: lighter;
    text-align: center;
    padding-top:0.3rem;
}
#sign-up .forbg .message #reg_success{
    color:rgb(9, 145, 9);
    opacity: 0;
}
#sign-up .forbg .message #reg_fail{
    color: rgb(233, 7, 7);
    opacity: 0;
}
#sign-up .forbg .message #log_fail{
    color: rgb(233, 7, 7);
    opacity: 0;
}
#sign-up .sup{
    width: 730px;
    height: 425px;
    background: rgba(0, 0, 0, 0.856);
    display: flex;
    align-items: center;
    justify-content: center;
}
#sign-up .sup .img{
    width: 360px;
    height: 425px;
}
#sign-up .sup .form{
    height: 425px;
    width: 370px;
    background-color:blanchedalmond ;
}

#sign-up .sup .form .head_of_form{
    height: 40px;
    background-color: blanchedalmond;
    /* padding:0 1.2rem; */
}
#sign-up .sup .form .head_of_form span{
    width: 100px;
    color:black;
    height: 100%;
    font-size: 1.3rem;
    float: right;
    text-align: center;
    padding:0.5rem 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

#sign-up .sup .formup th{
    /* background-color: brown; */
    text-align: left;
    width:170px;
    padding:0.1rem 0.2rem;
}
#sign-up .sup .formup{
    width: 100%;
    height: 385px;
    position:relative;
    overflow: hidden;
}
#sign-up .sup .formup form{
    position: absolute;
    top:15px;
}
#sign-up .sup .formup .Register{
    transform: translateX(380px);
    transition: transform 0.7s;
}
#sign-up .sup .formup .Login{
    transition: transform 0.7s;

}
#sign-up .sup .formup .submit{
    width: 100%;
    height: 40px;
    background-color: coral;
    color: white;
    border:none;
    border-radius: 5px;
    margin:1.7rem 0.5rem;
    cursor: pointer;
}
#sign-up .sup .formup .submit:hover{
    background-color: rgb(230, 74, 17);
}
#loginbtn{
    background-color: coral;
}

/* ---- For Stains ---  */
.stain{
    width: 70px;
    height: 70px;
    position: absolute;
}
.stain-1{
    top:7%;
    left:60%;
}
.stain-2{
    top:59%;
    right:4%;
}
.stain-3{
    top:9%;
    right:17%;
}
.stain-4{
    bottom:3%;
    left:55%;
}
.stain-5{
    top:77%;
    left:17%;
}
.stain-6{
    top:19%;
    left:7%;
}

iframe{
    width:100%;
    height: 250px;
}

/* ---Footer---  */
#foot{
    background-color: #333;
    margin-top: 6rem;
}
#foot .foot-cover{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding:0rem 4rem;
    padding-bottom: 1.2rem;
    /* background-color: teal; */
}

#foot .foot-cover .address{
    /* background-color: aqua; */
    color: whitesmoke;
    line-height: 1.5rem;
}
#foot .foot-cover .address h2{
    text-align: center;
    padding-bottom:0.7rem;
}
#foot .foot-cover .timings h2{
    padding-bottom:0.7rem;
}
#foot .foot-cover .address h4{
   /* word-spacing: 0.2rem; */
   width:80%;
   margin:0 auto;
   text-align: center;
   font-weight: lighter;
   line-height: 1.8rem;  
}
#foot .foot-cover .address ul{
    list-style-type: none;
}
#foot .foot-cover .address .left{
    text-align: center;
    padding-top: 0.9rem;
}
#foot .foot-cover .timings ul{
    list-style: none;
}
#foot .foot-cover .timings .list{
    line-height: 2.5rem;
}
#foot .foot-cover .timings{
    color: whitesmoke;
    width: 14rem;
    line-height: 1.5rem;
}
#foot h1{
    text-align: center;
    color:whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    padding-top:1rem;
    margin-bottom: 2.3rem;
}
.feedback,.connect{
    line-height: 1.5rem;
    margin:0 auto;
    /* background-color: yellow;f */
}

#foot .foot-cover .feedback .sub{
    margin: 0 auto;
    color: whitesmoke;
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: coral;
    border:none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
#foot .foot-cover .feedback .sub:hover{
    background-color: rgb(216, 87, 40);
}
#foot .foot-cover .feedback textarea{
    padding:0.5rem;
}
#foot .foot-cover .feedback textarea:focus{
    border-color: coral;
}
#foot .foot-cover .feedback input{
    margin-bottom: 5px;
}

#foot .foot-cover .connect h2{
    color: white;
    text-align: center;
    margin-bottom:0.9rem;
}
#foot .foot-cover .connect .social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:0.9rem;
}
#foot .foot-cover .connect .social p{
    flex: 1;
    display: inline;
    padding-left: 0.9rem;
    cursor: pointer;
}
#foot .copy{
    color:whitesmoke;
    text-align: center;
    padding-bottom:1.3rem;
    font-weight: lighter;
} 




 



